/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.lock
.phpintel/
public/assets_old/
resources/demo1/
resources/fontawesome-pro-5.15.3-web/
books.zip
public/assets/images/bokks.psd
phploy.ini
public/assets/images/redactor/
storage/not-pdf/
storage/pdf/
storage/pdf/
storage/pdf2convert/
storage/preview/
public/assets/preview/
storage/debugbar/
ebook-converter/
